---
interface skill {
  name: string;
  iconUrl: string;
}

const frontendSkills: skill[] = [
  {
    name: "HTML",
    iconUrl: "/assets/icons/html.svg",
  },
  {
    name: "CSS",
    iconUrl: "/assets/icons/css.svg",
  },
  {
    name: "JavaScript",
    iconUrl: "/assets/icons/javascript.svg",
  },
  {
    name: "React",
    iconUrl: "/assets/icons/react.svg",
  },
  {
    name: "tailwindcss",
    iconUrl: "/assets/icons/tailwindcss.svg",
  },
];

const backendSkills: skill[] = [
  {
    name: "Node.js",
    iconUrl: "/assets/icons/node-js.svg",
  },
  {
    name: "Express.js",
    iconUrl: "/assets/icons/express.svg",
  },
  {
    name: "MySQL",
    iconUrl: "/assets/icons/mysql.svg",
  },
  {
    name: "PostgreSQL",
    iconUrl: "/assets/icons/pgsql.svg",
  },
];

const softSkills: string[] = [
  "Responsabilidad y compromiso",
  "Adaptabilidad a nuevos retos",
  "Trabajo en equipo",
  "Comunicación efectiva",
  "Aprendizaje constante",
];

import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import GitHub from "../components/icons/skills/Github.astro";
import Git from "../components/icons/skills/Git.astro";

type AstroComponent = AstroComponentFactory;

const IconMap: Record<string, AstroComponent> = {
  Git: Git,
  GitHub: GitHub,
};

const toolsSkills = ["Git", "GitHub"];
---

<section id="skills" class="py-10 px-6 bg-gray-900 text-gray-200">
  <div
    class="max-w-4xl mx-auto flex flex-col gap-10 items-center justify-center"
  >
    <!-- titulo del section -->
    <h2
      class="font-hero text-3xl font-bold text-white text-center border-b-4 border-blue-400 mb-2 mx-auto"
    >
      Habilidades
    </h2>

    <!-- Frontend -->
    <div>
      <h3 class="font-semibold font-hero mb-2">Frontend</h3>
      <div
        class="grid grid-cols-2 gap-8 text-center justify-start
      sm:grid-cols-3
      md:grid-cols-4
      lg:grid-cols-5"
      >
        <!-- iteramos el frontendSkills -->
        {
          frontendSkills.map((s) => (
            <div class="bg-white/10 backdrop-blur-md border border-white/20 rounded-xl p-3 hover:rotate-5 transition duration-400">
              <div class="flex flex-col items-center gap-3 justify-center w-24 h-24">
                <span class="px-3 py-1 border rounded-full text-sm w-auto font-sans">
                  {s.name}
                </span>
                <img
                  src={s.iconUrl}
                  alt={`icono de ${s.name}`}
                  class="w-15 h-15"
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex flex-col items-center justify-center lg:flex-row gap-8">
      <!-- Backend -->
      <div>
        <h3 class="font-semibold font-hero mb-2">Backend</h3>
        <div
          class="grid grid-cols-2 gap-8 text-center
          sm:grid-cols-3
        md:grid-cols-4
        lg:grid-cols-2"
        >
          <!-- iteramos el frontendSkills -->
          {
            backendSkills.map((s) => (
              <div class="bg-white/10 backdrop-blur-md border border-white/20 rounded-xl p-3 hover:rotate-5 transition duration-400">
                <div class="flex flex-col items-center gap-3 justify-center w-24 h-24">
                  <span class="px-3 py-1 border rounded-full text-sm w-auto font-sans">
                    {s.name}
                  </span>
                  <img
                    src={s.iconUrl}
                    alt={`icono de ${s.name}`}
                    class="w-15 h-15"
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div class="grid md:grid-cols-2 gap-8 lg:flex">
        <!-- herramientas -->
        <div class="font-sans">
          <h3 class="font-semibold font-hero mb-2">Herramientas</h3>
          <div class="grid grid-cols-2 lg:grid-cols-1 gap-8 text-center">
            {
              toolsSkills.map((t) => {
                const Componente = IconMap[t];
                return (
                  <div class="bg-white/10 backdrop-blur-md border border-white/20 rounded-xl p-3 hover:rotate-5 transition duration-400">
                    <div class="flex flex-col items-center gap-3 justify-center w-24 h-24">
                      <span class="px-3 py-1 border rounded-full text-sm w-auto font-sans">
                        {t}
                      </span>
                      <Componente />
                    </div>
                  </div>
                );
              })
            }
          </div>
        </div>

        <div>
          <!-- Blandas -->
          <h3 class="font-semibold font-hero mb-2">Habilidades Blandas</h3>
          <div
            class="bg-white/10 background-blur-md border border-white/20 rounded-xl p-3"
          >
            <ul class="space-y-2 text-gray-300">
              {
                softSkills.map((ss) => (
                  <li class="flex items-center gap-2 font-sans">
                    <span class="text-green-400">✔</span> {ss}
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
