---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import GitHub from "../components/icons/skills/Github.astro";
import Git from "../components/icons/skills/Git.astro";

import Express from "../components/icons/skills/Express.astro";
import Nodejs from "../components/icons/skills/Nodejs.astro";
import MySQL from "../components/icons/skills/MySQL.astro";
import PostgreSQL from "../components/icons/skills/PgSQL.astro";

type AstroComponent = AstroComponentFactory;

const IconMap: Record<string, AstroComponent> = {
  Git: Git,
  GitHub: GitHub,
  Express: Express,
  Nodejs: Nodejs,
  MySQL: MySQL,
  PostgreSQL: PostgreSQL,
};

const toolsSkills = ["Git", "GitHub"];
const backendSkills = ["Express", "Nodejs", "MySQL", "PostgreSQL"];

interface Skill {
  name: string;
  iconUrl: string;
}

//Lenguajes en AMBOS lados
const coreLanguages: Skill[] = [
  { name: "JavaScript", iconUrl: "/assets/icons/javascript.svg" },
  { name: "TypeScript", iconUrl: "/assets/icons/typescript.svg" },
];

const frontendSkills: Skill[] = [
  {
    name: "HTML",
    iconUrl: "/assets/icons/html.svg",
  },
  {
    name: "CSS",
    iconUrl: "/assets/icons/css.svg",
  },
  {
    name: "React",
    iconUrl: "/assets/icons/react.svg",
  },
  {
    name: "tailwindcss",
    iconUrl: "/assets/icons/tailwindcss.svg",
  },
];

const softSkills: string[] = [
  "Responsabilidad y compromiso",
  "Adaptabilidad a nuevos retos",
  "Trabajo en equipo",
  "Comunicación efectiva",
  "Aprendizaje constante",
];
---

<section id="skills" class="py-20 px-6 bg-background">
  <div class="max-w-6xl mx-auto flex flex-col gap-8">
    <!-- titulo -->
    <div class="text-center">
      <h2
        class="inline-block font-hero text-4xl font-bold text-foreground border-b-4 border-card-accent pb-2"
      >
        Habilidades
      </h2>
      <p class="text-muted-foreground mt-4 font-sans text-sm md:text-base">
        Tecnologías que utilizo para construir soluciones Fullstack
      </p>
    </div>

    <div
      class="bg-card p-6 rounded-3xl border border-border md:min-w-100 md:mx-auto lg:min-w-140"
    >
      <h3
        class="font-bold font-hero mb-6 flex items-center gap-2 text-foreground italic"
      >
        Lenguajes
      </h3>
      <div class="grid grid-cols-2 justify-center gap-6 w-auto">
        {
          coreLanguages.map((s) => (
            <div class="flex flex-col items-center p-3 rounded-xl transition border border-border bg-secondary hover:bg-secondary/80 group">
              <img
                src={s.iconUrl}
                class="w-12 h-12 mb-2 group-hover:rotate-12 transition-all duration-300"
                alt={s.name}
              />
              <span class="text-sm text-card-foreground">{s.name}</span>
            </div>
          ))
        }
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
      <div class="bg-card p-6 rounded-3xl border border-border">
        <h3 class="font-bold font-hero mb-6 flex items-center gap-2 italic">
          Frontend
        </h3>
        <div class="grid grid-cols-2 gap-4">
          {
            frontendSkills.map((s) => (
              <div class="flex flex-col items-center p-3 rounded-xl transition border border-border bg-secondary hover:bg-secondary/80 group">
                <img
                  src={s.iconUrl}
                  class="w-12 h-12 mb-2 group-hover:rotate-12 transition-all duration-300"
                  alt={s.name}
                />
                <span class="text-sm text-card-foreground">{s.name}</span>
              </div>
            ))
          }
        </div>
      </div>

      <div class="bg-card p-6 rounded-3xl border border-border">
        <h3 class="font-bold font-hero mb-6 flex items-center gap-2 italic">
          Backend
        </h3>
        <div class="grid grid-cols-2 gap-4">
          {
            backendSkills.map((t) => {
              const Componente = IconMap[t];
              return (
                <div class="flex flex-col items-center p-3 rounded-xl transition border border-border bg-secondary hover:bg-secondary/80 group">
                  <div class="w-12 h-12 mb-2 group-hover:rotate-12 transition-all duration-300">
                    <Componente />
                  </div>
                  <span class="text-sm text-card-foreground">{t}</span>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
      <div class="bg-card p-6 rounded-3xl border border-border flex-1">
        <h3 class="font-bold font-hero mb-6 italic">Herramientas</h3>
        <div class="grid grid-cols-2 gap-4">
          {
            toolsSkills.map((t) => {
              const Componente = IconMap[t];
              return (
                <div class="flex flex-col items-center p-3 rounded-xl transition border border-border bg-secondary hover:bg-secondary/80 group">
                  <div class="w-12 h-12 mb-2 group-hover:rotate-12 transition-all duration-300">
                    <Componente />
                  </div>
                  <span class="text-sm text-card-foreground">{t}</span>
                </div>
              );
            })
          }
        </div>
      </div>

      <div class="bg-card p-6 rounded-3xl border border-input">
        <h3 class="font-bold font-hero mb-4 italic text-card-foreground">
          Soft Skills
        </h3>
        <ul class="space-y-2">
          {
            softSkills.map((ss) => (
              <li class="flex items-center gap-2 text-sm text-card-foreground font-sans md:text-base">
                <span class="text-card-accent">✦</span> {ss}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
